<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <base href="/" />

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="RezaMpPersianDatePicker.Demo.styles.css" />

    <!-- Library assets -->
    <link rel="stylesheet"
          href="_content/RezaMpPersianDatePicker/Css/calendarStyle.css" />

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    <script src="_framework/blazor.web.js"></script>

    <!-- Library JS -->
    <script src="_content/RezaMpPersianDatePicker/Js/calendar.js"></script>
</body>
</html>
