/* _content/RezaMpPersianDatePicker/RmpPersianDatePicker.razor.rz.scp.css */
.my-component[b-4pasxltdaj] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
