/* _content/RmpPersianDatePicker/RmpPersianDatePicker.razor.rz.scp.css */
.my-component[b-xtrgyf9dz0] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
